.app__wrapper_info{
   
        h1{
            margin-bottom: 3rem;
        }

        .app__wrapper-content{
            .p__cormorant{
                color: #DCCA87;
                margin: 2rem 0;
            }
        }
    
        .custom__button{
            margin-top: 2rem;
        }
}